@use '../global/index' as g;

/* Reset */
* {
  box-sizing: border-box;
  &:before,
  &:after {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
  line-height: 1;
  font-size: 62.5%;
  background: g.$palette-white;
  color: g.$palette-black;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 1.6;
  overflow-y: auto;
  -webkit-text-size-adjust: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  -webkit-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  font-family: g.$font-main;
  font-size: 1.6rem;
  &.Fixed {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

article,
aside,
details,
figcaption,
include,
footer,
header,
hgroup,
main,
nav,
section,
summary,
figure {
  display: block;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p,
blockquote,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
  font-size: 1.6rem;
}

ul,
ol {
  list-style: none;
}

figcaption,
span {
  -webkit-overflow-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-word-wrap: break-word;
  word-wrap: break-word;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}
