@use './variables' as v;
@use 'sass:math';

// Arrow line
@mixin mxArrowLine(
  $width-and-height,
  $top,
  $right,
  $bottom,
  $left,
  $margin-top,
  $margin-right,
  $margin-bottom,
  $margin-left,
  $border-width,
  $border-color,
  $deg
) {
  content: '';
  position: absolute;
  display: block;
  width: $width-and-height;
  height: $width-and-height;
  @if ($top != '') {
    top: $top;
  }
  @if ($right != '') {
    right: $right;
  }
  @if ($bottom != '') {
    bottom: $bottom;
  }
  @if ($left != '') {
    left: $left;
  }
  @if ($margin-top != '') {
    margin-top: $margin-top;
  }
  @if ($margin-right != '') {
    margin-right: $margin-right;
  }
  @if ($margin-bottom != '') {
    margin-bottom: $margin-bottom;
  }
  @if ($margin-left != '') {
    margin-left: $margin-left;
  }
  border-left: $border-width solid $border-color;
  border-bottom: $border-width solid $border-color;
  @if ($deg != '') {
    transform: rotate($deg);
  }
  transition: 0.3s border-color, 0.3s transform;
  @content;
}

// Triangle
@mixin mxTriangle(
  $width,
  $height,
  $top,
  $right,
  $bottom,
  $left,
  $margin-top,
  $margin-right,
  $margin-bottom,
  $margin-left,
  $border-color,
  $deg
) {
  content: '';
  position: absolute;
  display: block;
  @if ($top != '') {
    top: $top;
  }
  @if ($right != '') {
    right: $right;
  }
  @if ($bottom != '') {
    bottom: $bottom;
  }
  @if ($left != '') {
    left: $left;
  }
  @if ($margin-top != '') {
    margin-top: $margin-top;
  }
  @if ($margin-right != '') {
    margin-right: $margin-right;
  }
  @if ($margin-bottom != '') {
    margin-bottom: $margin-bottom;
  }
  @if ($margin-left != '') {
    margin-left: $margin-left;
  }
  border-top: $height solid $border-color;
  border-right: math.div($width, 2) solid transparent;
  border-left: math.div($width, 2) solid transparent;
  @if ($deg != '') {
    transform: rotate($deg);
  }
  transition: 0.3s border-color, 0.3s transform;
  @content;
}

// Media Query
@mixin mxMediaQueryXs() {
  @media screen and (min-width: v.$Bp--xs), print {
    @content;
  }
}

@mixin mxMediaQuerySm() {
  @media screen and (min-width: v.$Bp--sm), print {
    @content;
  }
}

@mixin mxMediaQueryMd() {
  @media screen and (min-width: v.$Bp--md), print {
    @content;
  }
}

@mixin mxMediaQueryLg() {
  @media screen and (min-width: v.$Bp--lg), print {
    @content;
  }
}

@mixin mxMediaQueryXl() {
  @media screen and (min-width: v.$Bp--xl), print {
    @content;
  }
}

@mixin mxMediaQueryXxl() {
  @media screen and (min-width: v.$Bp--xxl), print {
    @content;
  }
}

@mixin mxMediaQueryPrint() {
  @media print {
    @content;
  }
}

@mixin mxMediaHover() {
  @media (hover: hover) {
    @content;
  }
}
