// Variables ==========

// Fonts ========
// Family ======
// Default
$font-main: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', 'Hiragino Mincho Pro', HGS明朝E, serif, Times,
  メイリオ, Meiryo;

$font-en: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;

// Size
$font-size: 16;

// Weight
$font-medium: 500;
$font-bold: 700;

// Blakepoints ========
$blakepoint-xs: 321px;
$blakepoint-sm: 576px;
$blakepoint-md: 768px;
$blakepoint-lg: 992px;
$blakepoint-xl: 1200px;
$blakepoint-xxl: 1400px;

// Color ========
$palette-white: #fff;
$palette-black: #000;

// Z Index ========
// Common ======
$z-index-1: 1;
$z-index-2: 2;
$z-index-3: 3;
$z-index-4: 4;
$z-index-5: 5;

$z-index-minus-1: -1;
$z-index-minus-2: -2;

// Modal ======
$z-index-modal-1: 20000;

// Header ======
$z-index-header-1: 10000;

// Footer ======
$z-index-footer-1: 8000;

// Opacity ========
$opacity-hover: 0.6;

// Scale ========
$scale-hover: 1.1;
