// Variables ==========

// Fonts ========
// Family ======
// Default
$Font__main: '游ゴシック Medium', 'Yu Gothic', YuGothic, YuGothicMedium, 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;

// Size
$Font__size: 16;

// Weight
$Font__medium: 500;
$Font__bold: 700;

// Blakepoints ========
$Bp--xs: 321px;
$Bp--sm: 576px;
$Bp--md: 768px;
$Bp--lg: 992px;
$Bp--xl: 1200px;
$Bp--xxl: 1400px;

// Color ========
$Palette__white: #fff;
$Palette__black: #000;

// Z Index ========
// Common ======
$ZIndex--1: 1;
$ZIndex--2: 2;
$ZIndex--3: 3;
$ZIndex--4: 4;
$ZIndex--5: 5;

// Modal ======
$ZIndex__modal--1: 20000;

// Header ======
$ZIndex__header--1: 10000;

// Footer ======
$ZIndex__footer--1: 8000;

// Opacity ========
$Opacity__main: 0.6;

// Scale ========
$Scale__hover: 1.1;
