@layer component-ui-low {
  .LayoutSection {
    padding-inline: 0;
    padding-block: 24px;

    @mixin getMediaQuerySm {
      padding-block: 32px;
    }

    @mixin getMediaQueryMd {
      padding-block: 40px;
    }
  }
}
