@layer component-ui-low {
  @scope (.LayoutPageWrapper) to (.LayoutPageWrapper) {
    display: flex;
    flex-direction: column;
    min-block-size: 100vh;
    min-block-size: 100svh;
    padding-block-start: var(--layout-header-height);
    position: relative;
  }
}
