/* Header */

.LayoutHeader {
  padding: 24px 0;
}

.Header {
  &__items {
    display: flex;
    flex-wrap: wrap;
    margin: -24px 0 0 -24px;
  }

  &__item {
    padding: 24px 0 0 24px;
  }

  &__link:not(:root) {
    text-decoration: none;
  }
}
