@use '../../../assets/scss/global/' as g;

.LayoutInner {
  margin: 0 auto;
  padding: 0 4vw;
  width: 100%;
  max-width: calc(1024px + (32px * 2));

  @include g.mxMediaQuerySm() {
    padding: 0 4.6vw;
  }

  @include g.mxMediaQueryMd() {
    padding: 0 32px;
  }
}
